อาการที่พบโควิด-19
สายพันธุ์ต่างๆ

สายพันธุ์เดลต้า
(อินเดีย)
ปวดศีรษะ
เจ็บคอ
มีน้ำมูก
ไม่ค่อยพบการสูญเสีย
การรับรส
มีอาการทั่วไปคล้าย
หวัดธรรมดา
\*หากรู้สึกไม่สบาย คล้ายเป็นหวัด
ควรสังเกตตัวเอง เมื่อมีอาการ
น่าสงสัยให้รีบไปพบแพทย์

สายพันธุ์อัลฟ่า
(อังกฤษ)
มีไข้-น้ำมูก
หนาวสั่น
ไอ เจ็บคอ
หายใจถี่หายใจลำบาก
ปวดศีรษะ
สูญเสียการได้กลิ่น
อ่อนเพลีย ปวดเมื่อย
ตามร่างกาย
อาเจียน หรือท้องเสีย

สายพันธุ์อื่นๆ

ปวดหัว

เจ็บคอ

มีไข้
